@font-face {
  font-family:Noto_Serif;
  src: url(../fonts/Noto_Serif/NotoSerif-Bold.ttf);
}
@font-face {
  font-family:Noto_Serif_Display;
  src: url(../fonts/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family:Oswald;
  src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family:Raleway;
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}