html, body{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Tabela de Cores */
  --texto-gray:#97a0a9;
  --background-image: linear-gradient(45deg,black, #483D8B);
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnigth: #413491;
}

/* -----------Global------------*/
a{
  text-decoration: none;
  color: var(--texto-gray);
}

ul{
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ---------*---------*---------*/

/* ----------- NAV ------------*/
.nav{
  background-color: var(--background-image);  
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
}

.nav .nav-logo a{
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Noto_Serif_Display);
}

.nav .nav-logo a:hover{
  color: var(--white);
}

.nav .nav-menu{
  justify-content: space-between;

}

.nav .nav-itens{
  display: flex;
  margin: 0;

}

.nav .nav-itens .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Noto_Serif_Display);
}

.nav .nav-itens .nav-link.nav-link:hover a{
  color: var(--white);
}

.nav .social{
  color: var(--white);
  padding: 1.4rem 0;
}

.nav .social i{
  padding: 0.2rem;
  color: var(--texto-gray);
}

.nav .social i:hover{
  color: var(--white);
}

.fundo{
  background-image: linear-gradient(45deg,black, #483D8B);
}

/* ---------Conteúdo Pagina---------*/

.card1 {
  min-height: 30vh;
  padding: 98px 100px;
  background-color: #0b0a17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card1 .card-h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 1s all ease;
  color: var(--white);
  font-size: 2rem;
  font-family: var(--Noto_Serif_Display);
}

.span{
  color: #392c8d;
  font-size: 3rem;
  padding-bottom: 12px;
}

.spanfont{
  color: #392c8d;
  font-size: 1.3rem;
  padding-bottom: 12px;
}
.img-perfil{
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: block;
}

.border-img:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
}

.card-p-h2{
  color: var(--texto-gray);
  font-family: var(--Noto_Serif_Display);
  font-size: 1.2rem;
  max-width: 500px;
  
}

.card2 {  
  padding: 96px 48px;
  background-color: #080713;
  padding-bottom: 3px;
  min-height: 80vh;
}

.card2 .card2-h2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--white);
  font-size: 2rem;
  font-family: var(--Noto_Serif_Display);
}

.card2-p{
  color: var(--texto-gray);
  font-size: 1.2rem;
  font-family: var(--Noto_Serif_Display);
}

.card2-p-layout{
  max-width: 1000px;
}

.card-layout{
  color: var(--texto-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-left: 50px;

}
.small-card{
  line-height: 4rem;
}

.icons-layout{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr ;
  grid-template-areas: 
  ". . . "
  ". . . ";
  gap: 20px 20px;
}

.icons-layout-base1{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    ". . . . . ."
    ". . . . . ."; 
  padding-left: 50px;
  position: relative;
}

.skills-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0b0a17;
  color: var(--texto-gray);
  font-size: 2rem;
  padding: 18px 18px;
  transition: 1s all ease;
  
}

.skills-icons:hover{
  background-color: var(--midnigth);
  transition: all 1s ease;
  cursor: pointer;
}
/* estilizando um span com a informação do nome do icone */
/*
.skills-cards-name-high{
  color: var(--texto-gray);
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--Noto_Serif_Display);
  background-color: #0b0a17;
  visibility: hidden;
  position: absolute;
}

.skills-cards-name-high:hover span{
  visibility: visible;
  transition: all 1s ease;
  margin-top: auto;
}
*/

.card3-projetos {
  padding: 96px 48px;
  background-color: #0b0a17;
  min-height: 50vh;
  transition: 1s all ease;
  font-size: 2rem;
  font-family: var(--Noto_Serif_Display);
}

.card3-projetos h2{
  color: var(--white);
  font-size: 2rem;
  font-family: var(--Noto_Serif_Display);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 5px;
  width: 50px;
}

.card3-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
  max-width: 0 auto;
  margin-top: 80px;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}
/*
.card3-grid:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
  background-color: var(--midnigth);
}
*/
.img .card3-projetos{
    
}

.card3-p{
  color: var(--texto-gray);
  font-size: 1.2rem;
  font-family: var(--Noto_Serif_Display);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.efeitos1{
  background-color: #080713;
  position: relative;
}

.efeitos1:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
}

.efeitos2{
  background-color: #080713;
}

.efeitos2:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
}

.efeitos3{
  background-color: #080713;
}

.efeitos3:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
}

.efeitos4{
  background-color: #080713;
}

.efeitos4:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(88, 47, 113, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(83, 65, 101, 0.5));
  transition: all 1s;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 1s ease;
  cursor: pointer;
}

.card3-flex > div{
  border: 1px solid var(--midnigth);
  height: auto;
  padding: 32px;
  margin: 5px;
  flex-basis: calc(100% - 20px);
  flex-grow: 4;
  border: none;
  transition: 1s all ease;
}
/*------------ style @media para configurar resposividade *dando erro*----------*/
/*
@media (max-width: 768px) {
  .card3-flex{
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    flex-grow: 4;
    width: 50px;
    margin: 0 auto;
    justify-content: center;
  }
} */

.card3-div-a{
  font-size: 1.1rem;
  font-family: var(--Noto_Serif_Display);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 200px;
}

.stylegithub{
  color: var(--midnigth);
}

.stylegithub:hover{
  color: var(--white);
}

.footer-hr{
  border-color: var(--texto-gray);
  opacity: 0.5;
  background: var(--texto-gray);
  
}

.footer-box{
  background-color: #0b0a17;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: var(--Noto_Serif_Display);
  color: var(--texto-gray);
}

.footer-top{
  margin-top: 30px;
}